:root {
    --background-color: #022555;
    --background-color02: #020e21;
    --footer-color: #222222;
    --primary-color: #D1E8D6;
    --secondary-color: #A7D7C5;
    --accent-color01: #ffbe58;
    --accent-color02: #A7D7C5;    
    --text-high: #ffbe58;
    /* --text-low: #020e21;  */
    --text-low : #e0f3ff;
    --text-normal: #ffffff;
    --text-same: #000000;
}


[data-theme="dark"] {
    --background-color: #022555;
    --background-color02: #020e21;
    --footer-color: #222222;
    --primary-color: #D1E8D6;
    --secondary-color: #A7D7C5;
    --accent-color01: #ffbe58;
    --accent-color02: #A7D7C5;    
    --text-high: #ffbe58;
    /* --text-low: #020e21;  */
    --text-low : #e0f3ff;
    --text-normal: #ffffff;
    --text-same: #000000;
}