.subnavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(2, 37, 85, 0.95); */
    background: linear-gradient(to bottom, #052355, #041b43);
    padding-left: 15rem;
    padding-right: 15rem;
    height: 2.7rem;
  }
  
  .subnavbar-item {
    color: white;
    font-size: 0.89em;
    cursor: pointer;
    text-decoration: none; 
    transition: color 0.3s ease;
  }
  
  .subnavbar-item:hover {
    color: #ffcc00;
  }
  
  .subnavbar-item.active {
    color: #ffcc00; 
    text-decoration: underline;
  }
  
/*   .subnavbar-item:first-child {
    color: #ffcc00; 
  } */
  