/* Loader styling remains the same */
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Center the loader in the viewport */
.center-loader {
  position: fixed; /* Fixed position to make it always centered */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Move the element back by 50% of its size */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}

/* Pulsing animations (remains unchanged) */
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.1); /* Adjusted for dark theme */
    opacity: 1;
  }
}
