:root {
    --background-color:#F0F5F1 ;
    --background-color02:#FFFAF1 ;
    --footer-color:#222222;
    --primary-color: #D1E8D6;   
    --secondary-color: #A7D7C5;  
    --accent-color01: #0D6D95;   
    --accent-color02: #00856F;
   
     --text-high: #1C3B29;         
     --text-low: #4B6654;         
     --text-normal: black;       
     --text-same: white;        
}


[data-theme="dark"] {
    --background-color: #0F1C2E;
    --background-color02:#1f3350 ;
    --footer-color:white;
    /* Black background */
    --primary-color: #1F2B3E;
    /* Violet theme color */
    --secondary-color: #3D5A80;
    /* Lighter shade of violet */
    --accent-color01: #ACC2EF;
    /* Even lighter violet for accents */
    --accent-color02: #A0EDE7;
    /* Light grey for accents */
    
    --text-high: #FFFDD0;
    --text-low: #E0E0E0;
    --text-normal: white;
    --text-same: Black;


}